# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/
.venv312/

data/*
!data/data_loader.py
!data/corruptions.py

# VSCode
.vscode/

*.log


# OS files
.DS_Store
Thumbs.db
